
h2 {
    font-size: 40px ;
}

h3 {
    font-size: 25px ;
    color: blue;
    background: orange;
    height: 50px;
}

#portfolio_list {
    font-size: 40px;
    min-height: 300px;
    width: 40%;
    background: LightGray;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(auto-fill, auto);
    grid-row-gap: 10px;
}